:root {
  --color-main: rgb(221, 193, 37);
  --color-sec: rgb(22, 22, 22);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.keys {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-inline: 4rem;
}

.key {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid var(--color-sec);
  flex-basis: 100%;
}

.key-hit {
  transform: scale(1.1);
  border-color: var(--color-main);
  transition: 50ms;
}

.key:not(:last-child) {
  margin-right: 1rem;
}

.key kbd {
  margin-bottom: 12px;
  font-size: 2.4rem;
}

.key span {
  font-size: 1.4rem;
}
