* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

main {
  height: 100vh;
  background-image: url(./img/bg-main.jpg);
  background-size: cover;
  background-position: top;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock {
  background-color: #fff;
  height: 700px;
  width: 700px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock-face {
  background-color: rgb(15, 109, 146);
  height: 630px;
  width: 630px;

  border-radius: 50%;
  position: relative;
}

.hour-hand {
  height: 10px;
  width: 33%;
  background-color: #222;
}

.minute-hand {
  height: 10px;
  width: 45%;
  background-color: #222;
}

.second-hand {
  height: 5px;
  width: 45%;
  background-color: orangered;
}

.hand {
  position: absolute;
  top: 50%;
  right: 50%;
  transform-origin: 100%;
}

.center-point {
  background-color: #222;
  height: 20px;
  width: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
